//---------------------------------------------------------------------------
//
// Name:        ClientTsApp.rc
// Author:      Utente
// Created:     07/10/2014 15:14:10
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
