@charset "utf-8";
/* CSS Document */


/* Setting font of the page 
@font-face 
{
    font-family: 'Segoe UI Light';
    src: url('font/segoe_ui_light.eot');
    src: url('font/segoe_ui_light.eot?#iefix') format('embedded-opentype'),
    url('font/segoe_ui_light.svg#Segoe UI Light') format('svg'), 
    url('font/segoe_ui_light.woff') format('woff'),
    url('font/segoe_ui_light.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;
}*/

/* Setting for Intestazione */
div.intestazione
{
	position: absolute;
	width: 100%;
	height: 10%;
	top: 0;
	left: 0;
	background-color: #eeecec
}

/* Setting for logo */
img.logo
{
  position: absolute;
  top: 6px; 
   
}


/* Setting for Title paragraph */
p.titolo
{
    position: absolute;
    top: 10%;
    font-family: Segoe UI;
    font-size: 25px;
    font-style: normal;
    color: #f00;
}


/* Setting position of selectbox of languages */
select.source_lang
{
	position:absolute;
	top: 23%;
    width: 146px;
}

select.dest_lang
{
	position:absolute;
	top: 23%;
	left: 50%;
    width: 146px;
}

/* Setting style select form */
select
{
	font-size: 14px;
	color: #333;
	background: #CCC;
	font-family: Segoe UI;
	border: solid 2px;
	border-color:#999;	
}


/* Setting Reset button */
button.reset
{
	position: absolute;
	top: 65%;
    left: 8px;
	font-size: 14px;
	color: #333;
	background: #CCC;
	font-family: Segoe UI;
	border: solid 2px;
	border-color:#999;
}

/* Setting Submit button */
input.traduci_sub
{
    position: absolute;
    top: 23%;
    left: 65%;
    width: 100px;
	font-size: 14px;
	color: #fff;
	background: #0094ff;
	font-family: Segoe UI;
	border: solid 2px;
	border-color:#0082ff;
}

input.ascolta_sub
{
    position: absolute;
    top: 23%;
    left: 75%;
    width: 26px;
    height: 26px;
	font-size: 14px;
	/*color: #fff;
	background: #CCC;*/
	font-family: Segoe UI;
	border: solid 2px;
	border-color:#999;
    background-image: url('image/speech1.png');
    background-color: transparent;
}
/*
button.text2speech:active
{
    position: absolute;
    top: 19%;
    left: 75%;
    width: 50px;
    height: 50px;
    background-image: url('image/speech1.png');
    border:  solid 2px;
    border-color: #CCC; 
     
}*/



/* Setting position of textarea */
textarea.source_text
{
	position:absolute;
	top: 30%;
}

textarea.transl_text
{
	position:absolute;
	top: 30%;
	left: 50%;
}


/* Setting dimension of textarea */
textarea 
{ 
    font-size: 14px;
    height: 200px;
    width: 440px;
    border:solid 2px;
	border-color: #999;
	resize: none;
	
}


/* Setting for page footer */
div.pagef
{
    position: absolute;
	width: 100%;
	height: 10%;
	bottom: 0;
	left: 0;
	background-color: #eeecec
}

/* Setting for credit */
img.credit
{
    position: absolute;
    bottom: 16px;
    left: 80%;
}

audio
{
    position: absolute;
    top:  75%;
}